<h1>Here you can change information you provided to us!</h1>
<img src="/public/cool.png" alt="" class="profileimg">
<div class="text-container">
    <p>But be aware... With great power comes great responsibility! Of keeping your profile cool.</p>
    <form action="/profile/edit" method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="input-wrapper">
            <label for="name">First Name</label>
            <input type="text" id="name" name="name" value="{{first}}">
            <label for="surname">Last Name</label>
            <input type="text" id="surname" name="surname" value="{{last}}">
            <label for="email">Email Address</label>
            <input type="email" id="email" name="email" value="{{email}}">
            <label for="pass">Password</label>
            <input type="password" id="pass" name="pass" >
            <label for="age">Age</label>
            <input type="number" id="age" name="age" value="{{age}}">
            <label for="city">City</label>
            <input type="text" id="city" name="city" value="{{city}}">
            <label for="url">Homepage</label>
            <input type="url" id="url" name="url" value="{{url}}">
            <input type="submit" value="Update Profile" id="submit">
        </div>
    </form>
</div>
