<h1>Here, take a look at all these great people, that signed petition!</h1>
<img src="/public/excited.gif" alt="" class="thanks">
<div class="people-container">
    {{#voters}}
        <p><a href="{{../url}}">{{this.first}} {{this.last}}</a>({{age}}<a href="/signers/{{city}}">{{city}})</a></p>
    {{/voters}}
</div>
<button id="logout_btn" onclick="location.href='/logout'">Logout</button>