<h1>Here, take a look at all these great people, that signed petition!</h1>
<img src="/public/excited.gif" alt="" class="thanks">
<div class="people-container">
    {{#voters}}
        {{#if this.url}}
            <p><a href="{{this.url}}">{{this.first}} {{this.last}} </a> {{{signs this.age this.city}}}</p>
        {{else}}
            <p><a>{{this.first}} {{this.last}} </a> {{{signs this.age this.city}}}</p>
        {{/if}}
    {{/voters}}
</div>
<button id="logout_btn" onclick="location.href='/logout'">Logout</button>


